<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766752543965-jppo0rilqehms206n5hiqvtchnae3p7g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766752543965-jppo0rilqehms206n5hiqvtchnae3p7g</string>
	<key>API_KEY</key>
	<string>AIzaSyAZXkxTeH_GA3eyfMWxHUdqkuy0JTmgnj4</string>
	<key>GCM_SENDER_ID</key>
	<string>766752543965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mike.sellerApp</string>
	<key>PROJECT_ID</key>
	<string>mike-food-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>mike-food-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766752543965:ios:57fa9060746d267dc57734</string>
</dict>
</plist>